---
apiVersion: "apps/v1"
kind: Pod
metadata:
  name: "${name}-tester"
  labels:
    app.kubernetes.io/name: "${name}"
  # annotations:
  #   marketplace.cloud.google.com/verification: test
spec:
    containers:
    - name: "test"
      image: "$testerImage"
      env:
      - name: "URL"
        valueFrom:
          configMapKeyRef:
            key: "URL"
            name: "morfius-tutor-config-ygfz"
      - name: "uri"
        valueFrom:
          configMapKeyRef:
            key: "uri"
            name: "morfius-tutor-config-ygfz"